Test/facilities/*.exe
Test/policies/*.exe
Test/policies/*.ii
Test/data_type/*.exe
Test/Operators/*.exe
Test/model_rel/param_initializer/*.exe
Test/layers/*.exe
Test/layers/*.ii
Test/evaluate/*.exe

.VSCodeCounter
.vscode